html {
    background-color: #d8c49f;
}
body {
    width: 50%;
    background-color: white;
    float: center;
    justify-self:center;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
nav ul li {
    display: inline-block;
    background-color: #d8c49f;
    padding: 4px;
}
nav ul li:hover {
    background-color: #a7926b;
    transition-duration: 0.2s;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav {
    text-align: center;
}